<% form_for @user do |f| %>
  <%= f.error_messages %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

	<% if recaptcha %>
		<%= recaptcha_tags(:display => { :theme => 'white' }) %>
	
		<div class="mb10 small">
			<br />
			By clicking "I accept. Create my account.", you are agreeing to the <%= link_to("Terms and Conditions of Use &amp; Privacy Policy", terms_path, :target => 'new') %>.
		</div>
	<%- end -%>
	
  <div class="mt10">
		<% if @user.new_record? %>
			<%= f.submit "I accept. Create my account.", :class => 'button' %>
		<% else %>
			<%= f.submit "Save" %>
			<%= "or #{link_to('Cancel', welcome_path)}" %>
		<% end %>
	</div>
<% end %>
