<% form_for @user do |f| %>
  <%= f.error_messages %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

	<%= recaptcha_tags(:display => { :theme => 'white' }) %>

  <div class="mt10">
		<%= f.submit "Submit", :class => 'button' %>
		<%= "or #{link_to('Cancel', welcome_path)}" if @user.new_record? %>
	</div>
<% end %>
