<div class="light-grey-background p10 mb20">

	<div class="mb10 border-bottom">
		<strong>Your app's iTunes Link</strong>: <%= link_to(itunes_url(@app.itunes_url_opts), itunes_url(@app.itunes_url_opts)) %> <%= clippy(itunes_url(@app.itunes_url_opts), "#eeeeee") %>
		<div class="small weak mt5">
			Give this out to folks, it will send them to your app on the iTunes App Store.<br/><br/>
			If you've setup Google Analytics (just below), when someone visits your iTunes Link we will:<br/>
			a) send Google Analytics information about the user and<br/>
			b) immediately send them to your app on the iTunes App Store.
		</div>
	</div>

	<% if @app.google_analytics_id %>
		<div class="mb10">
			<strong>Analytics ID:</strong> <%= @app.google_analytics_id %>
			<%= link_to('Edit', '#', :class => 'analytics-configure-link') %>
			<div class="small weak mt5">
				Awesome! When someone visits your iTunes Link (above), we will send Google Analytics their information.
			</div>
		</div>
	<% else %>
		<div class="mb10">
			You have not configured analytics yet.
			<%= link_to('Edit', '#', :class => 'analytics-configure-link') %>
		</div>
	<% end %>	
	
	<div id="analytics-form" style="display:none;">
		<% form_for @app do |form| %>
			<%= form.label(:google_analytics_id, "Google Analytics ID") %>
			<%= form.text_field(:google_analytics_id) %>
			<%= form.submit "Save", :class => 'button' %>
		<% end %>
		
		<div class="mt10 small">
			<div class="strong">Not sure what Google Analytics is?</div>
			Find out more and signup at <%= link_to('http://www.google.com/analytics/', 'http://www.google.com/analytics/') %>.<br/>
			Once you've signed up and created an analytics account for your iPhone app,
			come back here and tell us your Google Analytics ID for that account.<br/><br/>
			To find your ID, log into Analytics, click the link for your app, and next
			to its name will be its ID. Here is an example:<br/>
			<%= image_tag('/images/analytics-screenshot.png') %>
		</div>
	</div>
</div>


<script type="text/javascript">
	$('.analytics-configure-link').toggle(function() {
		$('#analytics-form').slideDown();
		$('.analytics-configure-link').text('Hide');
	}, function() {
		$('#analytics-form').slideUp();
		$('.analytics-configure-link').text('Edit');
	});
</script>