<div class="light-grey-background p10 mb20">
	<h2 class="homepage mb10">Homepage</h2>
	<div class="mb10">
		We've setup a homepage for your app, you can see it at: <%= link_to(root_url(@app.itunes_url_opts), root_url(@app.itunes_url_opts)) %><br/>
	</div>
	<div class="border-bottom">
		<h3>1. Make sure your app's info is correct.</h3>
		<div class="indented">
			<%= link_to("Edit app info", edit_app_path(@app)) %>
		</div>
	</div>
	<div class="border-bottom">
		<h3>2. Choose your theme.</h3>
		<div class="indented">
			Your current theme is "<%= @app.theme.name %>". 
			<%= link_to("Choose a different theme", themes_app_path(@app)) %>
			<div class="mt5">
				<%= image_tag(@app.theme.screenshot_url("large"), :class => 'light-grey-border') %>
			</div>
		</div>
	</div>
	<div class="border-bottom">
		<div class="mb10">
			<h3>3. Customize your homepage</h3>
		</div>
		<div class="indented">
			<strong class="block">Links</strong>
			Add links to the bottom of your homepage:
			<br />
			<%= render :partial => 'links' %>
		</di>
	</div>
	<%#= link_to("Preview Site", preview_app_path(@app)) %>
</div>