<% if current_user %>
	<%= link_to('Back to my apps', apps_path, :class => 'icon back') %>
	<h1>Adding a new app</h1>
<% else %>
	<h1>Searching apps</h1>
<% end %>

<div class="light-grey-background p10 mb20">
	<h2 class="border-bottom"><strong>Step 1: Search</strong> the iTunes Store for your app</h2>
	<%= render 'apps/search_form' %>
</div>

<% if @apps %>
<div class="light-grey-background p10">
	<h2 class="border-bottom"><strong>Step 2: Choose</strong> your app...</h2>
	<% if @apps.empty? %>
		No apps matched your search, please try a different search.
	<% else %>
		<table class="styled">
			<tr>
				<th></th>
				<th>Icon</th>
				<th>Name</th>
				<th>Author</th>
			</tr>
			<% for app in @apps %>
			<tr>
				<td>
					<%= link_to("Choose", new_app_path(:id => strip_app_id(app.track_view_url)), :class => 'button') if current_user %>
					<% if !current_user %>
						<%= link_to("Sign up", signup_path(:redirect_to => new_app_path(:id => strip_app_id(app.track_view_url))), :class => 'button') %>
						<div class="small">to claim this app</div>
					<% end %>
				</td>
				<td><%= image_tag app.artwork_url60 %></td>
				<td><%= app.track_name %></td>
				<td><%= app.artist_name %></td>
			</tr>
			<%- end -%>
		</table>
	<% end %>
</div>		
<%- end -%>

<%#= link_to "Skip this step...", new_app_path %>

<% content_for :head do %>
<script type="text/javascript">
	$(document).ready(function() {
		$('#app_name').focus();
	});
</script>
<% end %>