<%= image_tag(@app.small_artwork_url, :class => 'top-right') if @app.small_artwork_url %>

<h1><%= @app.name %></h1>
<div class="mb10">
	<%= link_to('Back to my apps', apps_path, :class => 'icon back mr15') %>
	<%= link_to('Delete this app', @app, :confirm => 'Are you sure you want to delete this app?', :method => :delete, :class => 'icon trash') %>
</div>

<%= render 'apps/analytics' %>

<%= render 'apps/homepage' %>

<div class="light-grey-background p10">
	<h2 class="domains mb10">Domain</h2>
	<div class="mb10">
		Do you already have a domain name? You can point it at your appmark.it homepage!
	</div>
	coming soon...
	<ul>
		<% for domain in @app.domains %>
			<li><%= domain.name %></li>
		<%- end -%>
	</ul>
</div>
