<%= image_tag(@app.small_artwork_url, :class => 'top-right') if @app.small_artwork_url %>

<h1><%= @app.name %></h1>
<div class="mb10">
	<%= link_to('Back to my apps', apps_path, :class => 'icon back mr15') %>
	<%= link_to('Delete this app', @app, :confirm => 'Are you sure you want to delete this app?', :method => :delete, :class => 'icon trash') %>
</div>

<div class="menu-header">
	<div id="homepage-action" class="action active">
		<h2 class="homepage">Homepage</h2>
	</div>
	<div id="analytics-action" class="action">
		<h2 class="analytics">Analytics</h2>
	</div>
	<div id="domains-action" class="action">
		<h2 class="domains">Domains</h2>
	</div>
</div>

<div class="mt10">

	<div id="homepage-container">
		<%= render 'apps/homepage' %>
	</div>

	<div id="analytics-container" style="display:none;">
		<%= render 'apps/analytics' %>
	</div>

	<div id="domains-container" style="display:none;">
		<%= render 'apps/domains' %>
	</div>
</div>