<%= image_tag(@app.small_artwork_url, :class => 'top-right') if @app.small_artwork_url %>

<%= link_to('Back to my apps', apps_path, :class => 'icon back') %>
<h1><%= @app.name %></h1>

<%= render 'apps/analytics' %>

<div class="light-grey-background p10 mb20">
	<h2 class="homepage mb10">Homepage</h2>
	<div class="mb10">
		Want to setup a homepage for your app to show it off?
	</div>
	<%= link_to("Edit your app's info", edit_app_path(@app)) %><br/>
	<%= link_to('Choose a theme', '') %>
	<%#= link_to("Preview Site", preview_app_path(@app)) %>
</div>

<div class="light-grey-background p10">
	<h2 class="domains mb10">Domains</h2>
	<div class="mb10">
		Do you already have a domain name? You can point it at your appmark.it homepage!
	</div>
	<% for domain in @app.domains %>
		<%= domain.name %><br />
	<%- end -%>
</div>