<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>AppMark.it</title>
	<link rel="shortcut icon" href="<%= root_path() %>favicon.gif" />
	<%= javascript_include_tag 'jquery-1.4.1-and-plugins.min', 'jquery-ui', 'application', :cache => true %>	
	<%# javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'app' %>
	<!--[if IE 6]>
		<%= stylesheet_link_tag 'ie6' %>
	<![endif]-->
	<%= yield :head %>
</head>

<body>
	<div id="ie_pwnage">
		Please upgrade to one of these <strong>free</strong> browsers:<br/>
		<div>- <%= link_to('Firefox', 'http://getfirefox.com') %></div>
		<div>- <%= link_to('Chrome', 'http://google.com/chrome') %></div>
		<div>- <%= link_to('IE8', 'http://www.microsoft.com/windows/internet-explorer/default.aspx') %></div>
  </div>
	<div id="wrap">
		<div id="main" class="clearfix">
			<div id="header">
				<div id="header-insides">
					<%#= link_to(image_tag('/images/2g-link-image.png'), 'http://weretwoguys.com', :id => 'twoguys-link') %>
					<%= link_to(image_tag('/images/logo.png', :id => 'logo'), root_path) %>
					<ul id="nav">
						<li class="first<%= @nav == :home ? " active" : "" %>">
							<%= link_to('home', welcome_path) %>
						</li>
						<li class="<%= @nav == :apps ? "active" : "" %>">
							<%= link_to("apps", apps_path) if current_user %>
							<%= link_to("apps", search_apps_path) if !current_user %>
						</li>
						<% if current_user %>
						<li class="<%= @nav == :users ? "active" : "" %>">
							<%= link_to('settings', edit_user_path(current_user)) %>
						</li>
						<% if current_user.admin? %>
						<li class="<%= @nav == :admin ? "active" : "" %>">
							<%= link_to('admin', admin_path) %>
						</li>
						<%- end -%>
						<li class="last">
							<%= link_to('sign out', signout_path) %>
						</li>
						<% else %>
						<li class="<%= @nav == :signup ? "active" : "" %>">
							<%= link_to('sign up', signup_path) %>
						</li>
						<li class="last<%= @nav == :signin ? " active" : "" %>">
							<%= link_to('sign in', signin_path) %>
						</li>
						<% end %>
					</ul>
				</div>
		  </div>
		  <div id="centered">
				<div id="mid">
					<div id="mid-insides">
						<div id="notice">
							<%= render 'layouts/flashes' %>
						</div>
						<%= yield %>
					</div>
				</div>
			</div>
		</div>
  </div>	
	<div id="footer">
		<div id="footer-insides">
			This is a <%= link_to('TwoGuys', 'http://weretwoguys.com') %> project.
		</div>
	</div>
	<%= yield :javascript %>
	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
		try {
			var pageTracker = _gat._getTracker("UA-13182964-1");
			pageTracker._trackPageview();
		} catch(err) {}
	</script>
</body>	
</html>